@model IEnumerable<PomoćniProjekatGamingHub.EntityModels.Konzola>
@using PomoćniProjekatGamingHub.EntityModels
@{
    ViewData["Title"] = "KonzolaPrikaz";
   var konzole= (List<Konzola>)ViewData["konzole"];
}

<h1>KonzolaPrikaz</h1>

<a href="/Moderator/UrediKonzolu" class="btn btn-success">Dodaj</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Kapacitet</th>
            <th>Detalji</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Konzola k in konzole)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>@k.Proizvodjac</td>
                <td>@k.Kapacitet</td>
                <td>@k.Detalji</td>
                <td>
                    <a href="/Moderator/UrediKonzolu?ZarnID=@k.Id" class="btn btn-primary">Uredi</a>
                    <a href="/Moderator/ObrisiKonzolu?ZarnID=@k.Id" class="btn btn-danger">Obrisi</a>
                </td>
            </tr>
        }

    </tbody>
</table>