@using PomoćniProjekatGamingHub.EntityModels

@{
    var recenzije = (List<Recenzija>)ViewData["recenzije"];
}

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">
                Page Heading
                <small>Secondary Text</small>
            </h1>
            <br />
            <a href="/Moderator/UrediRecenziju" class="btn btn-success">Dodaj recenziju</a>
            <br />
            <!-- Blog Recenzija -->
            @foreach (Recenzija r in recenzije)
            {
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">@r.Naslov</h2>
                        <p class="card-text">@r.Sadrzaj</p>
                        <a href="/Moderator/Detalji" class="btn btn-primary">Procitaj vise &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="#"> @r.Korisnik.KorisnickoIme </a> @r.DatumKreiranja
                    </div>
                </div>
            }

        </div>
    </div>
</div>