@using PomoćniProjekatGamingHub.Models.Zarn

@model List<ZarnPrikazVM>

<h1>Zarnovi</h1>
<a href="/Moderator/UrediZarn" class="btn btn-success">Dodaj</a>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ZarnPrikazVM z in Model)
        {
            <tr>
                <td>@z.Naziv</td>
                <td>@z.Opis</td>
                <td>
                    <a href="/Moderator/UrediZarn?ZarnID=@z.Id" class="btn btn-primary">Uredi</a>
                    <a href="/Moderator/Obrisi?ZarnID=@z.Id" class="btn btn-danger">Obrisi</a>
                </td>
            </tr>
        }

    </tbody>
</table>