@model PomoćniProjekatGamingHub.EntityModels.Zarn
@using PomoćniProjekatGamingHub.EntityModels

@{
    ViewData["Title"] = "UrediZarn";
    var zarnovi = (Zarn)ViewData["zarn"];
}

<h1>UrediZarn</h1>

<h4>Zarn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SnimiZarn" asp-controller="Moderator">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" readonly style="display:none">
                <label>ZarnID</label>
                <input name="ZarnID" value="@zarnovi.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv"  class="control-label"></label>
                <input asp-for="Naziv" value=@zarnovi.Naziv class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" value=@zarnovi.Opis class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PrikazZarn">Natrag</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
