@using PomoćniProjekatGamingHub.Models.Konzola
@model  List<KonzolaPrikazVM>
<h1>KonzolaPrikaz</h1>

<a href="/Konzola/Uredi" class="btn btn-success">Dodaj</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Kapacitet</th>
            <th>Detalji</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KonzolaPrikazVM k in Model)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>@k.Kapacitet</td>
                <td>@k.Detalji</td>
                <td>
                    <a href="/Konzola/Uredi?KonzolaID=@k.Id" class="btn btn-primary">Uredi</a>
                    <a href="/Konzola/Obrisi?KonzolaID=@k.Id" class="btn btn-danger">Obrisi</a>
                </td>
            </tr>
        }

    </tbody>
</table>