@model PomoćniProjekatGamingHub.Models.IgraZarn.IgraZarnDodajVM

@{
    ViewData["Title"] = "Dodaj";
    Layout = null;
}
<div class="row">
    <div class="col-md-4">
        <form id="IgraZarnForma" asp-action="Snimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IgraID" hidden class="control-label"></label>
                <input asp-for="IgraID" readonly hidden class="form-control" />
                <span asp-validation-for="IgraID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZarnID" hidden class="control-label"></label>
                <select asp-for="ZarnID" asp-items="Model.Zarnovi" class="form-control" > </select>
                <span asp-validation-for="ZarnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="StavkaSnimi()" value="Snimi" class="btn btn-primary" />
                <input type="button" onclick="UcitajStavke()" value="Natrag" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
